body {
  margin: 0;
  background-color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 80%;
    margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pageNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
}

.navItem {
  margin-right: 20px;
  background-color: #2f3944;
  padding: 10px;
  border-radius: 5px;
}

.movieBlockContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.movieBlock {
  margin: 20px;
  width: 27%;
  padding: 20px;
  background-color: gainsboro;
}

a {
  color: lightsteelblue;
}